.speech{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;

}
.direction{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    background-color:antiquewhite;

}
.direction:hover{
    background-color:#85de7c;
    color:red;
}
.name{
    color:blue;
}
.MRSLINDE{
    color:brown ;
}
.KROGSTAD{
    color:blueviolet;
}
table{
    border: 10px solid darkblue;
    color:chartreuse;
    text-align: center;
    padding: 20px;
    margin: 2px;
}
tr:nth-child(even){
    background-color:antiquewhite;
}
.MRSLINDE:hover{
    border:darkblue 2px solid;
    color:lightslategray ;
    text-shadow:1px 3px;
    filter:blur(1px);
}
.KROGSTAD:hover{
    border:darkblue 2px solid;
    color:lightseagreen;
    text-shadow:1px 3px;
    filter:blur(1px);
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:rgb(228, 81, 228)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }
    